[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pymongo = "*"
unicorn = "*"
uvicorn = "*"
motor = "*"
fastapi-pagination = "*"

[dev-packages]

[requires]
python_version = "3.12"
